html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    
}

.container {
    width: 100%;
    max-width: 94rem;
    min-height: 95vh;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.content_block {
    
    flex: 1 0 auto;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    ". . content_block_title content_block_title content_block_title content_block_title"
    "content_block_img content_block_img content_block_content content_block_content content_block_content content_block_content"
    "content_block_img content_block_img content_block_content content_block_content content_block_content content_block_content";
    word-wrap: break-word;
    word-break: break-word;
}

.content_block_img {
    width: 100%;
    grid-area: content_block_img;
}

.content_block_title {
    width: 100%;
    grid-area: content_block_title;
}
.content_block_content {
    word-break: break-word;
    margin-left: 5rem;
    grid-area: content_block_content;
}

.header {
    margin: 3rem 0;
}

.news_formDiv {
    width: 60%;
    margin: 0 auto;
}

.form_newsAdd {
    padding: 1rem;
    border: 0.1rem solid #000;
    background-color: #eee;
    box-shadow: -0.3rem 0.4rem 0.6rem 0rem #d6d6d6;
    border-radius: 1rem;
}

.form_newsAdd * {
    margin: 0.3rem 0 0.3rem 0.3rem;
}

.news_title {
    width:30rem;
    border: 0.1rem solid #666;
    border-radius: 1.5rem;
    padding: 0.6rem;
}

.news_content {
    border: 0.1rem solid #666;
    border-radius: 2.5rem;
    padding: 0.6rem;
}

.news_img {
    width: 100%;
}

.news_img::file-selector-button {
    border: 0.1rem solid #000;
    border-radius: 0.5rem;
    background-color: #fff;
}

.btn_addNews {
    border: 0.1rem solid #000;
    border-radius: 0.5rem;
    background-color: #fff;
}

@media (max-width: 768px) {

    .news_formDiv {
        width: 90%;
    }
    .news_title {
        width: 40%;
    }
    .news_content {
        width: 98.5%;
    }

    .content_block {
        margin-top: 3rem;

        flex: 1 0 auto;
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 0.1fr 0.5fr 0.2fr; 
        gap: 0px 0px; 
        grid-template-areas: 
        "content_block_title"
        "content_block_img"
        "content_block_content";
        word-wrap: break-word; 
    }

    .content_block:last-child {
        margin-bottom: 5rem;
    }

    .content_block_img {
        width: 80%;
        grid-area: content_block_img;
    }
    .content_block_content {
        margin-left: 0;
        margin-bottom: 0;
    }
    
}